body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #111111;
  perspective: 500px;
}

#fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100vh;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../images/overlay3.png);
  background-size: 300px 300px;
  background-repeat: repeat;
  opacity: 0.1;
  z-index: 1;
  max-height: 100vh;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #background-video {
    height: 300%;
    top: -100%;
    position: fixed;
  }
}
@media (max-aspect-ratio: 16/9) {
  #background-video {
    width: 300%;
    left: -100%;
    top: -10%;
    height: 110%;
    position: fixed;
  }
}
.main-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.home-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-logo {
  height: 100px;
  width: 100px;
  display: block;
  margin: 20px auto 0 auto;
  padding: 0;
  filter: brightness(150%);
}

.header-container {
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  position: relative;
  height: auto;
  width: 100%;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  margin-bottom: 50px;
}

.header-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  -webkit-animation: 1s linear 1 titleTransition;
  animation: 1s linear 1 titleTransition;
}

.side-line {
  height: 2px;
  justify-self: center;
  align-self: center;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px 10px 0px 10px;
}

.header {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  color: #f5f7f6;
  text-align: center;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  -webkit-animation: 1s linear 1 titleTransition;
  animation: 1s linear 1 titleTransition;
}

.main-underline {
  padding-top: 0;
  padding-bottom: 30px;
  width: auto;
  height: 3px;
  margin: 0 auto;
  text-align: center;
  -webkit-animation: 1s linear 1 titleTransition;
  animation: 1s linear 1 titleTransition;
}

.header2 {
  font-family: barteldes-small, serif;
  text-align: center;
  color: #f5f7f6;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tilt-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-content: center;
  align-items: center;
  height: auto;
  padding: 75px 0 30px 0;
}

.Tilt {
  width: 25%;
  min-width: 200px;
  margin: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.Tilt .Tilt-inner img {
  width: auto;
  min-width: 200px;
  max-width: 300px;
  height: auto;
  display: inline-block;
}

.footer-container {
  width: 80vw;
  min-width: 70vw;
  max-width: 98vw;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding: 50px 0;
  animation: showFooter 1.25s ease 1;
  -webkit-animation: showFooter 1.25s ease 1;
  -moz-animation: showFooter 1.25s ease 1;
}

.footer-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding: 0;
}

.footer-left-line {
  min-width: 50px;
  width: 25%;
  max-width: 180px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  height: auto;
  justify-self: center;
  align-self: center;
}

.footer-right-line {
  min-width: 50px;
  width: 25%;
  max-width: 180px;
  height: auto;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  justify-self: center;
  align-self: center;
}

.footer-header {
  font-size: 20px;
  font-weight: bold;
  width: auto;
  letter-spacing: 0;
  color: #f5f7f6;
  font-family: barteldes-small, serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-par {
  font-size: 24px;
  color: #f5f7f6;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.footer-underline {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 5px 0 0 0;
}

@media only screen and (max-width: 1000px) {
  .Tilt {
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    height: 100%;
  }

  .main-underline {
    max-width: 70%;
  }

  .header {
    max-width: 98%;
    margin: 0 auto;
    font-size: auto;
  }

  .footer-underline {
    width: 100%;
  }
}
@media only screen and (max-width: 910px) {
  .footer-par {
    font-size: 22px;
  }
}
@media only screen and (max-width: 870px) {
  .footer-par {
    font-size: 20px;
  }
}
@media only screen and (max-width: 760px) {
  .footer-par {
    font-size: 18px;
  }
}
@media only screen and (max-width: 675px) {
  .footer-par {
    font-size: 16px;
  }
}
@media only screen and (max-width: 645px) {
  .footer-container {
    width: 98vw;
  }
}
@media only screen and (max-width: 560px) {
  .footer-header {
    font-size: 16px;
  }
}
@media only screen and (max-width: 515px) {
  .footer-par {
    font-size: 14px;
  }
}
@media only screen and (max-width: 445px) {
  .footer-par {
    font-size: 12px;
  }

  .footer-container {
    padding-bottom: 100px;
    padding-top: 0;
    margin-top: 0;
  }
}
@media only screen and (max-width: 435px) {
  .footer-header {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .footer-header {
    font-size: 12px;
  }

  .footer-par {
    font-size: 10px;
  }

  .footer-container {
    padding-bottom: 125px;
  }
}
@media only screen and (max-width: 350px) {
  .footer-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 686px) {
  .tilt-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0 0 60px 0;
  }

  .Tilt {
    padding: 0;
    margin: 0 auto;
  }
  .Tilt .Tilt-inner {
    padding: 0;
    margin: 0 auto;
  }
  .Tilt .Tilt-inner img {
    padding: 0;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 650px) {
  .header2 {
    font-size: calc(10px + 2vmin);
  }

  .header {
    font-size: calc(12px + 2vmin);
  }
}
@media only screen and (max-width: 400px) {
  .side-line {
    height: 1px;
  }

  .Tilt {
    width: 200px;
    height: 200px;
  }
  .Tilt .Tilt-inner img {
    width: 200px;
    height: auto;
    display: block;
  }
}
@media only screen and (max-width: 340px) {
  .header2 {
    font-size: calc(8px + 2vmin);
  }

  .header {
    font-size: calc(10px + 2vmin);
  }
}
#chamberLogo {
  width: 100%;
  animation: showLogo 1.25s ease 1;
  -webkit-animation: showLogo 1.25s ease 1;
  -moz-aninmation: showLogo 1.25s ease 1;
  margin-top: auto;
  margin-bottom: auto;
}

#devLogo {
  width: 90%;
  height: auto;
  animation: showLogo 1.25s ease 1;
  -webkit-animation: showLogo 1.25s ease 1;
  -moz-aninmation: showLogo 1.25s ease 1;
  margin-top: auto;
  margin-bottom: auto;
}

#tourismLogo {
  height: auto;
  width: 100%;
  animation: showLogo 1.25s ease 1;
  -webkit-animation: showLogo 1.25s ease 1;
  -moz-aninmation: showLogo 1.25s ease 1;
  margin-top: auto;
  margin-bottom: auto;
}

@keyframes titleTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showLogo {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateX(-200px) translateY(200px) translateZ(-200px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}
@keyframes showFooter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateX(-100px) translateY(100px) translateZ(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

/*# sourceMappingURL=app.css.map */
