$sans: itc-avant-garde-gothic-pro, sans-serif;
$sans2: dolly-new, sans-serif;
$serif: barteldes-small, serif;

$gray: #474747;
$lightGray: #999999;
$darkGray: #333F47;
$white: #f5f7f6;
$w: #ffffff;
$b: #000000;
$black: #111111;